* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
  background-image: url("https://media.istockphoto.com/id/1220584431/vector/food-and-cooking-seamless-pattern-doodles.jpg?s=612x612&w=0&k=20&c=-cHmygl9sMRX1G1CAr9vQSH8rxMlRD7-F5TAScpIUYg=");
}



h1 {
  font-size: 3rem;
  color: rgb(243, 78, 18);
  font-weight: bold;
  font-family: 'Peralta', cursive;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.loader {
  display: none;
	position: absolute;
	left: 0px;
  top: 0px;
  bottom:0;
  right:0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: url("https://www.twomato.com/assets/images/loader.gif") center no-repeat rgba(0,0,0,0.6);
}



.search-bar {
  padding: 2rem;
  position: relative;
}

.search-bar input {
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1rem;
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  padding: 1.1rem;
  cursor: pointer;
}

.search-btn {
  position: absolute;
  right: 0.5rem;
}

.random-btn {
  position: absolute;
  right: -4rem;
  cursor: pointer;
}

.message {
  position: absolute;
  display: block;
  width: 15rem;
  height: 5rem;
  font-size: 1.5rem;
  transform: translateX(-10rem);
  transform: translateY(-6rem);
  padding-top: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  visibility: hidden;
  font-weight: bold;
}
.random-btn:hover .message {
  visibility: visible;
}
.search-result {
  padding: 1rem 0;
  font-size: 2rem;
  font-family: Peralta;
  text-transform: capitalize;
  color: #000;
  letter-spacing: 0.3em;
  font-weight: 900;
  background-color: rgb(255, 255, 255,0.3);

}

.container {
  width: 120rem;
  max-width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  background-image: url("https://images.unsplash.com/photo-1506968430777-bf7784a87f23?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d29vZCUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
   background-repeat: no-repeat;
   background-size: cover;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;

}

.container .meal-image {
  width: 25rem;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.6);
  perspective: 100rem;
}

.error {
  margin: 0 auto;
  animation: tryAgain 3s ease-in-out;
  transform: translateY(20rem) translateX(30%);
  width: 60rem;
  max-width: 100%;
}

.error img {
  width: 60rem;
  max-width: 100%;
}

.meal {
  position: relative;
  height: fit-content;

}

.meal-name {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.6);
  width: 25rem;
  text-align: center;
  max-width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  font-size: 1.5rem;
  font-weight: bold;
}
.meal:hover .meal-name {
  cursor: pointer;
  visibility: visible;
}

@keyframes tryAgain {
  0% {
    opacity: 0;
    transform: translateY(40rem) translateX(30%);
  }

  100% {
    opacity: 0.8;
    transform: translateY(20rem) translateX(30%);
  }
}

.meal-instruction {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  font-size: 2rem;
  min-height: 100vh;
  margin: 1rem;
  line-height: 3rem;
  color:#fff;
  
}

.meal-instruction h2 {
  margin: 1.5rem 0;
  color: rgb(255, 208, 0);
  border-bottom: 1px solid #000;
  width: fit-content;
}

.video {
  width: 60rem;
  max-width: 100%;
  height:40rem;
  max-width: 100%;
transform: translateX(30%);  
 
}
.video iframe {
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-radius: 3rem;

}

#btn-back {
  width: 10rem;
  max-width: 100%;
  text-align: right;
  padding: 1rem;
  position: absolute;
  left: 1rem;
  top: 0;
  clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0% 50%
  );
  background-color: #e4cccc;
  cursor: pointer;
  border: 0;
}


 .meal-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 80rem;
  max-width: 100%;
} 

.title{
text-align: left;
color:rgb(255, 34, 0);
font-weight: 400;
font-size:4rem;
padding: 2rem 2rem;

}



/* .meal-category-area {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  position: absolute;
  right: 2rem;
  top: 0;
  transform: translate(1rem, -2rem);
  padding-top: 1rem;
font-size: 2rem;
} */
.area{
  display:flex;
  flex-direction: row;
  margin-top: 3rem;
  position: absolute;
  right: 4rem;
  top: 0;
  transform: translate(1rem, -2rem);
  padding-top: 1rem;
font-size: 2rem;
}

.meal-category-area h2 {
  border: 0;
  display: inline-block;
  color:#fff;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  padding: 1rem;
  font-size: 3rem;
  font-weight: 400;

}

.meal-category-area span {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 2rem;
  padding:0.5rem 1rem 0 0;
}

@media screen and (max-width: 767px) {
  body{
  scroll-behavior: smooth;
  }

   h1{
  text-align: center;

  }
  .error {
    transform: translateX(-1rem) translateY(25rem);
    width: 350px;
    animation: none;
  }
  #btn-back {
    width: 8rem;
    text-align: right;
    padding: 1rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
  }

  .container {
    min-height: 100vh;
    height:fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;

  }

 

  .meal-instruction {
    padding: 1rem 0;
    width:60rem;
   
  }
  

  .meal-instruction h2 {
    transform: translateX(1rem);

  }

  .directions{
  width:36rem

  }
  
  .title {
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: bold;
  }

  .video {
    width: 35rem;
    max-width: 100%;
    height:20rem;
    max-width: 100%;
   transform: translateX(0%);  
    
  }
  .area{
   display:none;
  }

}